rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function authenticated() {
      return request.auth != null;
    }

    match /media/{mediumId}/{fileName} {
      allow write: if authenticated();
    }
  }
}
